<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>AdminLogin</servlet-name>
  	<display-name>AdminLogin</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.AdminLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddStudent</servlet-name>
  	<display-name>AddStudent</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.AddStudent</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddTeacher</servlet-name>
  	<display-name>AddTeacher</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.AddTeacher</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListStudents</servlet-name>
  	<display-name>ListStudents</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.ListStudents</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListTeachers</servlet-name>
  	<display-name>ListTeachers</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.ListTeachers</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddClass</servlet-name>
  	<display-name>AddClass</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.AddClass</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListClasses</servlet-name>
  	<display-name>ListClasses</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.ListClasses</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddSubject</servlet-name>
  	<display-name>AddSubject</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.AddSubject</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ListSubjects</servlet-name>
  	<display-name>ListSubjects</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.ListSubjects</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AdminLogin</servlet-name>
  	<url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddStudent</servlet-name>
  	<url-pattern>/AddStudent</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddTeacher</servlet-name>
  	<url-pattern>/AddTeacher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListStudents</servlet-name>
  	<url-pattern>/ListStudents</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListTeachers</servlet-name>
  	<url-pattern>/ListTeachers</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddClass</servlet-name>
  	<url-pattern>/AddClass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListClasses</servlet-name>
  	<url-pattern>/ListClasses</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddSubject</servlet-name>
  	<url-pattern>/AddSubject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ListSubjects</servlet-name>
  	<url-pattern>/ListSubjects</url-pattern>
  </servlet-mapping>
  
</web-app>
